@{
    ViewBag.Title = "Strona główna";
}

<div class="container">
    <div class="row">
        <div class="offset-lg-3 col-lg-6 offset-lg-3 text-center">
            <h3>Aplikacja Email Sender</h3>
        </div>
        <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary lead my-1 blog-post-meta">
            Witamy w aplikacji Email Sender. Jest to prosta aplikacja webowa, która po zalogowaniu umożliwa wysyłanie wiadomości email
            [zakładka <strong>Wysyłanie maila</strong>].
            <br /><br />
            Nadawcę wybiera się z listy rozwijanej. Dostępną w niej listą adresatów zarządza się z kolei w zakładce
            <strong>"Książka adresowa"</strong>. Dostępni w niej adresaci zapisywani są w bazie danych. Każdy użytkownik aplikacji,
            ma dostęp jedynie do swojej książki adresowej, jak również jedynie do wiadomości email wysłanych przez siebie.
            <br /><br />
            Wysłane wiadomości zapisywane są dodatkowo w bazie danych, tak by użytkownik aplikacji miał do nich dostęp w późniejszym
            terminie.
            <br /><br />
            W zakładce <strong>Konfiguracja serwera smtp</strong> możliwa jest z kolei konfiguracja serwera poczty wychodzącej.
        </div>
    </div>
</div>

